td.details-control {
  background: url('./resources/open.svg') no-repeat center center;
  cursor: pointer;
}

tr.shown td.details-control {
  background: url('./resources/close.svg') no-repeat center center;
}

td.details-control-sub {
  cursor: pointer;
}

.card-body p {
  margin-bottom: 0;
}

#main-table td {
  vertical-align: middle;
}

#install-cmd {
  margin-bottom: 0 !important;
}

tr.no-hover {
  background-color: inherit !important;
}

img.file-img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0pt;
}
